mixins.pug
mixin customerRow(name, company, phone, email, country, status)
  tr
    td= name
    td= company
    td= phone
    td= email
    td= country
    td.status
      if status === 'Active'
        span.status.active Active
      else
        span.status.inactive Inactive